body { 
    background-image: url(/static/img/viewinvoice-bg.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.login_container {
    top: 10rem;
    width: 20rem;
    height: 50rem;
    justify-self: center;
    align-content: center;
   
}
